<h3>Exemplos de pipes</h3>

<h4>Título: {{ livro.titulo | uppercase | camelCase }}</h4>
<h4>Estrelas: {{ livro.rating | number:'1.1-2' }}</h4>
<h4>Páginas: {{ livro.numeroPaginas }}</h4>
<h4>Preço: {{ livro.preco | currency:'BRL' }}</h4>
<h4>Data de lançamento: {{ livro.dataLancamento | date: 'dd-MMM-yyyy' }}</h4>
<h4>Url: {{ livro.url }}</h4>
<br>
<h4>Livro {{ livro | json }}</h4>

<br>
<label for="">Procurar:   </label>
<input type="text" [(ngModel)]="filtro">
<br><br>
<input type="text" #novoCurso>
<button (click)="addLivro(novoCurso.value)">Add Livro</button>

<h4>Pipe puro</h4>
<ul>
  <li *ngFor="let liv of livros | filtroArray:filtro">
    {{ liv }}
  </li>
</ul>

<h4>Pipe impuro</h4>
<ul>
  <li *ngFor="let liv of obterLivro()">
    {{ liv }}
  </li>
</ul>


<h3>Pipe Async</h3>
<h4>{{ valorAsync | async }}</h4>


<h3>Pipe Async2</h3>
<h4>{{ valorAsync2 | async }}</h4>
